# Ignore bundler config.
/.bundle

# Ignore all logfiles and tempfiles.
/log/*
/tmp/*
!/log/.keep
!/tmp/.keep

# Ignore uploaded files in development
/public/storage/*
!/public/storage/.keep

/node_modules
/yarn-error.log

/public/assets
.byebug_history

# IGnore database sqlite3
/db/*.sqlite3

# IDE and Text Editor
/.idea
